.scrollable-text-view {
    height: 500px;
    /* adjust as needed */
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.scrollable-text-view textarea {
    min-height: 50px;
    /* adjust as needed */
}